{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
{% if session.userrole == 2 %}
<h2>Ylläpitäjän toiminnallisuudet</h2>
<p><a href="/addrestaurant">Lisää ravintola</a></p>
<p><a href="/removerestaurant">Poista ravintola</a></p>
<hr>
{% endif %}
<p><a href="/restaurantlist">Tarkastele ravintolalistausta</a></p>
<p><a href="/map">Tarkastele ravintoloita kartalla</a></p>
<p>
<form action="/search" method="GET">
Etsi ravintolaa kuvauksen perusteella<br>
<input type="text" name="query"> 
<input type="submit" value="Etsi">
</form>
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
Jos et vielä ole rekisteröitynyt käyttäjäksi, voit tehdä sen <a href="/signup">tästä</a>
{% endif %}
