<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
	lat = {{ lat }}
	lng = {{ lng }}
	const helsinki = { lat: lat, lng: lng };
        // The map, centered at Helsinki
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: helsinki,
        });
        // The marker, positioned at Helsinki
	const marker = new google.maps.Marker({
  	  position: helsinki,
          map,
  	});
      }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
