<!DOCTYPE html>
<html>
  <head>
    <title>Ravintolasovellus</title>

    <style type="text/css">
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

    <script>
     function initMap() {
	let locations = JSON.parse('{{test|tojson}}');
	
    	var map = new google.maps.Map(document.getElementById('map'), {
      		zoom: 10,
      		center: new google.maps.LatLng(60.1699, 24.9384),
    	});

    	var infowindow = new google.maps.InfoWindow();

    	var marker, i;

    	for (i = 0; i < locations.length; i++) {  
      		marker = new google.maps.Marker({
        	position: new google.maps.LatLng(locations[i][2], locations[i][3]),
        	map: map
      	});

      	google.maps.event.addListener(marker, 'click', (function(marker, i) {
        	return function() {
			infowindow.setContent('<div id="content">' +
			    '<div id="siteNotice">' +
    			    "</div>" +
    			    '<h1 id="firstHeading" class="firstHeading">' + locations[i][1] + '</h1>' +
    			    '<div id="bodyContent">' +
    			    "<p>" + locations[i][4] + "</p>" +
    			    '<p>Ravintolan sivut <a href="restaurant/' + locations[i][0] + '">' +
    			    "täällä</a> " +
    			    "</p>" +
    			    "</div>" +
    			    "</div>");
          		infowindow.open(map, marker);
        	}
      	})(marker, i));
     }
    }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
