<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <style type="text/css">
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

    <script>
      function initMap() {
	const helsinki = { lat: 60.1699, lng: 24.9384 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: helsinki,
        });
	{% for t in test %}
        lat = {{ t[0] }}
	lng = {{ t[1] }}
	restaurant = { lat: lat, lng: lng };
	marker = new google.maps.Marker({
  	  position: restaurant,
          map,
  	});
	{% endfor %}
      }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
