<a href="/restaurantlist">Takaisin</a>
<h3>{{ info[0] }}</h3>
Kuvaus: {{ info[1] }}<br>
Osoite: {{ info[2] }}<br>
Aukioloajat:<br>
{% for o in open %}
<ul>
<li> {{ o[0] }}: {{ o[1] }}-{{ o[2] }}
</ul>
{% endfor %}
<p>Anna ravintolalle arvostelu:<br>
<form action="./{{ id }}" method="POST">
Tähtiä:
<select name="stars">
  <option value="5">Viisi</option>
  <option value="4">Neljä</option>
  <option value="3">Kolme</option>
  <option value="2">Kaksi</option>
  <option value="1">Yksi</option>
</select><br>
Kommentti:
<input type="text" name="comment"><br>
<input type="submit" name="lisays" value="Lisää arvostelu">
</form>
</p>
<hr>
<h4>Arvostelut</h4>
{% for review in reviews %}
<p>Tähtiä: {{ review[0] }}</p>
<p>{{ review[1] }}</p>
<p>Käyttäjältä {{ review[2] }} aikaan {{ review[4]}}</p>
{% if session.userrole == 2 %}
  <form action="./{{ id }}" method="POST">
    <input type="submit" name="poisto" value="Poista">
    <input type="hidden" name="review_id" value="{{ review[3] }}">
  </form>
{% endif %}
<hr>
{% endfor %}
